.time-image {
    width: 100px;
    height: 100px;
}
.space-image {
    width: 100px;
    height: 100px;
}
.mind-image {
    width: 100px;
    height: 100px;
}

h1 {
margin-right: 100px;
background-color: aqua;
color: blue;
border-style: solid;
border-width: 10px;
}

p {
background-color: blueviolet;
color: gold;
border-style: solid;
border-width: 5px;
margin-right: 100px;
}